body {
    padding-top: 85px;
}

#sidebar .list-group-item {
    background-color: transparent;
    border: none;
}

/* CV styles */
.cv body {
	font-family: "Palatino", sans-serif;
	max-width: 59em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}

.cv header {
	width: 100%;
	float: right;
	margin-right: 0;
	text-align: center;
}

.cv header #title {
	width: 57.62712%;
	float: left;
	margin-right: 1.69492%;
	text-align: left;
}

.cv .details {
	width: 40.67797%;
	float: right;
	margin-right: 0;
	text-align: right;
}

.cv ol, ul {
	list-style: none;
}

.cv section {
	width: 100%;
	float: right;
	margin-right: 0;
}

.cv section > h2 {
	margin-top: 0.85185em;
	width: 100%;
	margin-right: 0;
	color: #595959;
}

.cv section dt {
	//width: 15.25424%;
	width: 13em;
	float: left;
	padding-right: 1em;
	text-align: right;
	clear: both;
}

.cv section dd {
	width: 70.05085%;
	float: right;
	margin-right: 0;
}